.latest-match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  padding: 16px;
}

.latest-match-img {
  width: 150px;
}

.head {
  font-size: 18px;
}
.hr-line {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .hr-line {
    display: none;
  }
}

.match-detail-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .latest-match {
    display: flex;
    flex-direction: column;
  }
  .latest-match-img {
    width: 100px;
  }
}
